extends layout

block content
  .main
    .container.container1
      form#apartmentform.form-inline.input(role='form')
        .form-group
          label(for='name') Name:
          input#name.form-control(type='text')
        .form-group
          label(for='rent') Rent:
          input#rent.form-control(type='number')
        .form-group
          label(for='picurl') Picurl:
          input#picurl.form-control(type='text')
        .form-group
          label(for='rooms') Rooms:
          input#rooms.form-control(type='number')
        button.btn.btn-success.addItem(type='submit') Add Apartment
    .container.container2
      a(href='/')
        button.btn.btn-info.showItems Show Stuff
  script(src='javascripts/form.js')
    
  
  
